*{
    padding: 0;
    margin: 0;
    /* outline: 1px solid red; */
    /* box-sizing: border-box; */
}
body{
    background-color: black;
    border-radius: 10px;
    /* overflow: auto; */
    /* overflow-wrap: normal; */
    overflow-x: hidden;
    width: 100%;
}
.main{
    background-image: url("new netflix.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: 80vw; */
    /* background-size: max(1200px ,100vw); */
    background-size: cover;
    height: 85vh;
    position: relative;
    /* margin-top: 0px; */
}
.main .box{
    height: 85vh;
    width: 100%;
    /* opacity: 0.6; */
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 0;
    /* background-color: blue; */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;
    /* position: relative; */
    /* top: 3px; */
    height: 80px;
    /* background-color: aqua; */
    /* padding: 10px 50px; */
    padding: 5px;
}
nav img{
    width: 152px;
    position: relative;
    z-index: 8;
    color: rgb(172, 51, 51);
}
nav button{
    position: relative;
    z-index: 9;
}
.super{
    color: rgb(245, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 100%; */
    position: relative;
    /* z-index: 15; */
    /* font-size: 35px; */
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: rbga(250,250,250);
    height: calc(100% + 0px);
    font-size: 30px;
    padding: 30px;
    gap: 30px;
    flex-wrap: wrap;
    padding: 10px;
}
.super >:first-child {
    font-weight: 700;
    font-size: 56px;
    line-height: 50px;
    font-style: normal;
    color:rgb(255,255,255);
    /* font: bolder; */
    
    text-align: center;
}
.super >:nth-child(2){
    font-weight: 700;
    font-size: 56px;
    line-height: 45px;
    font-style: normal;
    color:rgb(255,255,255);
    text-align: center;
}
.super :nth-child(3){
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    color:rgb(255,255,255);
    line-height: normal;
    text-align: center;
}
.super :nth-child(4){
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 50px;
    color:rgb(255,255,255);
    text-align: center;
}
nav button{
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    /* border: 2px solid white; */
    border: none;
    width: 70px;
    height: 40px;
    background-color: red;
    color: white;
    font-weight: 700;
}

.in1{
    width: 370px;
    height: 54px;
    font-size: medium;
    position: relative;
    border-radius: 5px;
    border: 1px solid rgb(114, 107, 107);
    background-color: black;
    background-image: none;
    background-color: rgba(22, 18, 18, 0.5);
    text-align: left;
    font-family: 'Segoe UI';
    color: rgb(228, 228, 215);
    font-weight: 600;
}
.in2{
    width: 195px;
    height: 57px;
    font-size: 24px;
    position: relative;
    top: 2px;
    font-weight: 700;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    
}
.superflex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    /* display: block; */
}

.super div  input :hover{
    background-color: rgb(73, 73, 73);
    cursor: pointer;
}
.super div :hover{
    background-color: rgb(85, 47, 47);
    cursor: pointer;
}
.main nav :hover{
    background-color: rgb(131, 44, 44);
    cursor: pointer;
}
.in3{
    position: relative;
    top: 4px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* background-color: white; */
}
.sep{
    width: 100%;
    height: 2px; 
    background-color: red;
    position: relative;
    top: 70px;
    padding: 1px;

}
.tren{
    position: relative;
    left: 10%;
    /* border: 2px solid green; */
    color: white;
    font-size: 30px;
    /* font-weight: 500; */
    top: 30px;
    /* font: bolder; */
    font-weight: 600;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 70px;
    gap: 10px;
    border-radius: 30px;
}
.image1{
    border-radius: 10px;
}
.image2{
    border-radius: 10px;
}
.image3{
    border-radius: 10px;
}
.image4{
    border-radius: 10px;
}
.image11{
    font-size: 100px;
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    /* width: 100px; */
    color: #000;                    /* Black fill */
    -webkit-text-stroke: 2px #fff;  /* White outline */
    /* border: 1px solid white; */
    font-weight: 800;
    /* background-color: black; */
    position: relative;
    z-index: 12;
    left: 43px;
    top: 60px;
}
.image22{
    font-size: 100px;
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    /* width: 100px; */
    color: #000;                    /* Black fill */
    -webkit-text-stroke: 2px #fff;  /* White outline */
    /* border: 1px solid white; */
    font-weight: 800;
    /* background-color: black; */
    position: relative;
    z-index: 12;
    left: 43px;
    top: 60px;
}
.image33{
    font-size: 100px;
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    /* width: 100px; */
    color: #000;                    /* Black fill */
    -webkit-text-stroke: 2px #fff;  /* White outline */
    /* border: 1px solid white; */
    font-weight: 800;
    /* background-color: black; */
    position: relative;
    z-index: 12;
    left: 42px;
    top: 60px;
}
.image44{
    font-size: 100px;
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    /* width: 100px; */
    color: #000;                    /* Black fill */
    -webkit-text-stroke: 2px #fff;  /* White outline */
    /* border: 1px solid white; */
    font-weight: 800;
    /* background-color: black; */
    position: relative;
    z-index: 12;
    left: 43px;
    top: 60px;
}
.image{
    font-size: 100px;
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    /* width: 100px; */
    color: #000;                    /* Black fill */
    -webkit-text-stroke: 2px #fff;  /* White outline */
    /* border: 1px solid white; */
    font-weight: 800;
    /* background-color: black; */
    position: relative;
    z-index: 12;
    left: 83px;
    top: 60px;
}
.image11{
    font-size: 100px;
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    /* width: 100px; */
    color: #000;                    /* Black fill */
    -webkit-text-stroke: 2px #fff;  /* White outline */
    /* border: 1px solid white; */
    font-weight: 800;
    /* background-color: black; */
    position: relative;
    z-index: 12;
    left: 83px;
    top: 60px;
}
.more{
    color: white;
    /* border: 2px solid wheat; */
    margin-top: 460px;
    margin-left:144px ;
    font-size: 27px;
    font-weight: 600;
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    
}
.cards{
    /* height: 280px; */
    /* width: 240px; */
    /* border: 2px solid yellow; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 15px;
    /* margin-left: 90px; */
    position: relative;
    left: 100px;
    margin-top: 30px;
    /* row-gap: 10px; */
    column-gap: 10px;
    display: inline-flex;
    /* justify-content: space-between; */
    margin: 5px;
    color: white;
    padding: 20px; 
}
.card1{
    height: 300px;
    width: 260px;
    /* border: 2px solid yellow; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 10px;
    /* margin-left: 90px; */
    position: relative;
    left: 5px;
    top: -5px;
    /* row-gap: 10px; */
    column-gap: 10px;
    display: inline-block;
    /* justify-content: space-between; */
    margin: 5px;
    color: white;
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
    background: linear-gradient(
        180deg,
        #1f2147 0%,
        #1a1630 55%,
        #140f1d 100%
    ) 
}
.card2{
    height: 300px;
    width: 260px;
    /* border: 2px solid yellow; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 10px;
    /* margin-left: 90px; */
    position: relative;
    left: 5px;
    top: -5px;
    /* row-gap: 10px; */
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
    column-gap: 10px;
    display: inline-block;
    /* justify-content: space-between; */
    margin: 5px;
    color: white;
    background: linear-gradient(
        180deg,
        #1f2147 0%,
        #1a1630 55%,
        #140f1d 100%
    ) 
}
.card3{
    height: 300px;
    width: 260px;
    /* border: 2px solid yellow; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 10px;
    /* margin-left: 90px; */
    position: relative;
    left: 5px;
    top: -5px;
    /* row-gap: 10px; */
    column-gap: 10px;
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
    display: inline-block;
    /* justify-content: space-between; */
    margin: 5px;
    color: white;
    background: linear-gradient(
        180deg,
        #1f2147 0%,
        #1a1630 55%,
        #140f1d 100%
    ) 
}
.card4{
    height: 300px;
    width: 260px;
    /* border: 2px solid yellow; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 10px;
    /* margin-left: 90px; */
    position: relative;
    left: 5px;
    top: -5px;
    /* row-gap: 10px; */
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
    column-gap: 10px;
    display: inline-block;
    /* justify-content: space-between; */
    margin: 5px;
    color: white;
    background: linear-gradient(
        180deg,
        #1f2147 0%,
        #1a1630 55%,
        #140f1d 100%
    ) 
}
.head{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
}
.bod{
    color: rgb(189, 178, 178);
    font-weight: 500;
    padding: 8px;
}
.bod img{
    margin-left: 160px;
    margin-top:80px ;
}
.bod2{
    color: rgb(189, 178, 178);
    font-weight: 500;
    padding: 15px;
    margin-left: -8px;
}
.card2 .bod img{
    margin-top: 35px;
    margin-left: 160px;
}
.card3 .bod img{
    margin-top: 54px;
    margin-left: 140px;
    height: 115px;

}
.card4 .bod img{
    margin-top: 25px;
    margin-left: 160px;
}
.freq{
    display: block;
    color: white;
    margin-left: 130px;
    margin-top: 15px;
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
    font-size: 27px;
    font-weight: 600;
}
.row :hover{
    background-color: rgb(97, 98, 99);
    cursor: pointer;
}
.row1{
    color: rgb(247, 243, 243);
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
    height: 70px;
    width: 75vw;
    margin: auto;
    margin-left: 135px;
    margin-top: 20px;
    background-color: rgb(48, 45, 45);;
    margin-bottom: -11px;
}
.row1 p{
    padding: 20px;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.row2{
    height: 70px;
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
    width: 75vw;
    margin: auto;
    margin-left: 135px;
    margin-top: 20px;
    background-color: rgb(48, 45, 45);;
    margin-bottom: -11px;

}
.row2 p{
    padding: 20px;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.row3{
    height: 70px;
    width: 75vw;
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
    margin: auto;
    margin-left: 135px;
    margin-top: 20px;
    background-color: rgb(48, 45, 45);;
    margin-bottom: -11px;
}
.row3 p{
    padding: 20px;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.row4{
    height: 70px;
    width: 75vw;
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
    margin: auto;
    margin-left: 135px;
    margin-top: 20px;
    background-color: rgb(48, 45, 45);;
    margin-bottom: -11px;
}
.row4 p{
    padding: 20px;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.row5{
    height: 70px;
    width: 75vw;
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
    margin: auto;
    margin-left: 135px;
    margin-top: 20px;
    background-color: rgb(48, 45, 45);
    margin-bottom: -11px;

}
.row5 p{
    padding: 20px;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.row6{
    height: 70px;
    width: 75vw;
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
    margin: auto;
    margin-left: 135px;
    margin-top: 20px;
    background-color: rgb(48, 45, 45);
    margin-bottom: -11px;

}
.row6 p{
    padding: 20px;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.las p{
    display: block;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    font-family:"Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
}
.spiderflex{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    /* display: block; */
}
.in11{
    width: 40vw;
    height: 54px;
    font-size: medium;
    position: relative;
    border-radius: 5px;
    border: 1px solid rgb(95, 85, 85);
    background-color: black;
    background-image: none;
    background-color: rgba(22, 18, 18, 0.5);
    text-align: left;
    font-family: 'Segoe UI';
    color: rgb(228, 228, 215);
    font-weight: 600;
}
div pre{
    color: white;
}
.contact a{
    color: white;
    display: flex;
    font-weight: 100;
    font-size: 14px;
    text-decoration: underline;
    margin-left: 100px;
    margin-top: 40px;
    
}
.links{
    color: rgba(255, 255, 255, 0.7);
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    margin-left: 100px;
    margin-right: 100px;
    column-gap: 15px;
    row-gap: 1px;
}
div select {
    width: 9%;
    margin-left: 80px;
    margin-top: 5% ;
    padding: 7px;
    background-color: black;
    color: white;
    border-radius: 6px;
    border: 1px solid rgb(82, 79, 79);
    font-weight: 400;
    font-size: 14px;
    /* outline: 2px solid white; */
    /* outline-offset: 2px; */
}
.last{
    color: white;
    margin-top: 50px;
    margin-left: 7%;
    font-size: 15px;
    row-gap: 10px;
}
.last :first-child{
    color: #cccbcb;
}
.abc{
    margin-top: 3%;
    margin-bottom: 4%;
    color: #777575;
}