*{
    padding: 0;
    margin: 0;
}
.main{
    background-image: url("new netflix.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80vw;
    background-size: max(1200px ,100vw);
    height: 80vh;
    position: relative;
}
.box{
    height: 80vh;
    width: 100%;
    /* opacity: 0.6; */
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
     max-width: 80vw;
    margin: auto;
    /* position: relative; */
    /* top: 3px; */
    height: 80px;
}
nav img{
    width: 152px;
    position: relative;
    z-index: 8;
    color: rgb(172, 51, 51);
}
nav button{
    position: relative;
    z-index: 9;
}
.super{
    color: rgb(245, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    /* z-index: 15; */
    /* font-size: 35px; */
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
     font-style: normal;
    font-weight: 700;
    color: rbga(250,250,250);
    line-height: 70px;
    font-size: 30px;
    
}
.super :first-child {
    font-weight: 700;
    font-size: 60px;
    /* font: bolder; */
}
.super1{
    font-weight: 700;
    font-size: 60px;
}
.super2{
    font-weight: 700;
    font-size: 20px;
}
.super3{
    font-weight: 400;
    font-size: 20px;
}
nav button{
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    /* border: 2px solid white; */
    border: none;
    width: 70px;
    height: 40px;
    background-color: red;
    color: white;
    font-weight: 700;
}
.main1 :hover{
    color: black;
}
